%comment
  display: flex
  flex-direction: column
  padding: 8px
  box-sizing: border-box
  min-height: 150px
  border: 1px solid rgba(34,36,38,.15)
  width: 100%
  //box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1)
  border-radius: 5px
  margin: 5px 0
  word-wrap: normal

%icon
  width: 16px
  height: 16px

$mine-message-color: lightblue
$their-message-color: lightgrey

.comment
  &__header
    display: flex
    flex: 1
    padding: 0 5px
    justify-content: space-between
    border-bottom: 1px solid #DDDDDD
    p
      margin: 0 0 3px 0
  &__author
      margin: 0 0 3px 0
      font-size: 16px
      font-weight: 600
  &__footer
    display: flex
    align-items: center
    justify-content: flex-end
    flex: 1
    padding: 0 5px
    width: 100%
    border-top: 1px solid #DDDDDD
    align-self: flex-end
  &__mine
    @extend %comment
    background: $mine-message-color
  &__their
    @extend %comment
    background: #ffffff
  &__text
    padding: 5px
    flex: 10
  &__metadata-info
    display: flex
    width: 100%
    justify-content: space-between
  &__metadata
    color: #2185d0
    text-decoration: underline
  &__tooltip
    position: relative
    //display: inline-block
    border-bottom: 1px dotted black
  &__tooltip-text
    width: 120px
    background-color: black
    color: #fff
    text-align: center
    padding: 5px 0
    border-radius: 6px
    position: absolute
    z-index: 4
    bottom: 110%
    right: 240px
    margin-left: -60px
  &__metadata-item
    width: 100%
    float: left
  &__attach-metadata-icon
    @extend %icon
    background: url("./icons/pinned-icon.svg") no-repeat
    background-size: cover
  &__detach-metadata-icon
    @extend %icon
    background: url("./icons/unpinned-icon.svg") no-repeat
    background-size: cover
