%button
    color: white
    border: none
    padding: 10px
    border-radius: 5px
    margin: 8px 0 0 0
    float: right
    outline: none

.comment-area
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    width: 100%
    box-sizing: border-box
    background: #EEEEEE
    z-index: 2
    &__list
        padding: 10px 10px
        overflow-y: auto
    &__form
        background: lightgray
        padding: 8px
        //max-height: 50px
    &__button
        &--primary
            @extend %button
            background: #2185d0
        &--secondary
            @extend %button
            background: #2E3032
            margin-right: 4px
    &__textarea
        resize: none


