h2.views__title {
    margin-top: 24px;
    font-size: 24px;
    text-align: center;
}

.views__dvh-chart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.views__input-range {
    margin-top: 10px
}
