.filters
    margin: 20px 8px 20px 0
    display: flex

.app
  &__block
    height: 100vh
  &__layer-slider-container
    display: flex
    align-items: center
    height: 78px
  &__layer-slider-label
    margin-right: 8px
  &__comment-title
    line-height: 78px
    height: 78px